@import "tailwindcss";



@theme inline {
    --font-manrope: var(--font-Manrope);
}


@theme static{
   --color-grey-90: #E4E4E6;
   --color-grey-80: #CACACE;
   --color-grey-70: #AFB0B6;

   --color-purple-50: #4A2CED;

   --max-width-containerGRID:82rem;

   --breakpoint-tablet:40rem;
   --breakpoint-laptop:64rem;
   --breakpoint-desktop:80rem;
}